:root {
	/*-----
	spacing
	-----*/
	--space-sm: 0.25rem;
	--space-md: 0.5rem;
	--space-lg: 1rem;
	--space-xl: 2rem;
	--space-2xl: 4rem;
	--space-3xl: 8rem;

	/*--------
	Typography
	--------*/
	--line-height-200: 1.1;
	--line-height-300: 1.4;
	--line-height-400: 1.5;
	--line-height-500: 1.7;

	--sans: 'Manrope', sans-serif;
	--mono: 'Roboto Mono', monospace;

	--text-300: clamp(0.8rem, 0.3vw + 0.73rem, 0.94rem);
	--text-400: clamp(1.125rem, 0.8rem + 0.81vw, 1.25rem);
	--text-500: clamp(1.25rem, 0.9vw + 1.02rem, 1.67rem);
	--text-600: clamp(1.56rem, 1.42vw + 1.21rem, 2.25rem);
	--text-700: clamp(1.95rem, 2.18vw + 1.41rem, 2.75rem);
	--text-800: clamp(2.44rem, 4.52vw + 1.3rem, 4rem);
	--text-900: clamp(3.05rem, 6.93vw + 1.3rem, 6.26rem);

	/*---
	Other
	---*/
	--radius-sm: 0.5rem;
	--radius-md: 1rem;

	--curve-bounce: cubic-bezier(0.5, -0.85, 0.28, 1.57);
	--curve-bounce-big: cubic-bezier(0.79, -1.51, 0.18, 2.28);
}
